* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 100%;
}

li {
  margin-top: 1em;
}

td {
  border-bottom: 1px solid rgb(212, 212, 212);
}

.ingredient-unit {
  min-width: 5em;
  text-align: right;
}

select {
  border: 0px;
  outline: 0px;
  background: none;
  font-size: 1em;
  /* Align text across all browsers */
  text-align-last: right;
  text-align: right;
  -ms-text-align-last: right;
  -moz-text-align-last: right;
  /**********************************/
}


#recipe,
#app {
  width: 25em;
  margin: 1em auto;
  padding: 1em;
  border: 1px solid lightgrey;
  background-color: rgb(245, 245, 245);
  border-radius: 1em;
  text-align: left;
}

#instructions {
  text-align: center;
}

tr .no-conversion {
	padding-right: 1em;
}

#bookmarklet {
  background-color: lightseagreen;
  text-align: center;
  margin: 1em auto auto auto;
  border-radius: 1em;
  width: 16em;
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 450px) {
  #recipe {
    width: 90% !important;
  }

  #bookmarklet {
    width: 80%;
  }
}
